@font-face {
  font-display: swap;
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 350;
  src:
    url(/fonts/PPNeueMontreal-Book-e12775b30a7622869ac2b248a08a42d7.woff2)
      format("woff2"),
    url(/fonts/PPNeueMontreal-Book-3fbc0cc15d5cf93e0fe94494ba16c194.woff)
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: Neue Montreal;
  font-style: normal;
  font-weight: 400;
  src:
    url(/fonts/PPNeueMontreal-Regular-3c7fa6d67cf69fb7dcb4f9eda0fcfc2a.woff2)
      format("woff2"),
    url(/fonts/PPNeueMontreal-Regular-2842e150d6666a9f53bb8b488bbbb5e7.woff)
      format("woff");
}

@font-face {
  font-display: swap;
  font-family: Satoshi;
  font-style: normal;
  font-weight: 500;
  src:
    url(/fonts/Satoshi-Medium-1ffe968245568e8ba1e766cec2c0075d.woff2)
      format("woff2"),
    url(/fonts/Satoshi-Medium-2419b46c96ed15331ba205aa3b103eb8.woff)
      format("woff");
}

html {
  @apply text-base-sm md:text-base;
}

body {
  @apply bg-background text-primary font-sans text-base leading-relaxed font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-primary leading-tight font-bold;
}

h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

b,
strong {
  @apply font-semibold;
}

code {
  @apply after:border-none;
}

blockquote > p {
  @apply my-0;
}
