@theme static {
  --color-background: hsl(0, 0%, 100%); /* white */
  --color-foreground: hsl(0, 0%, 0%); /* black */

  --color-light: hsl(228, 25%, 92%); /* light blue-gray */
  --color-dark: hsl(217, 33%, 17%); /* dark blue-gray */

  --color-primary: hsl(225, 72%, 24%); /* deep blue */
  --color-secondary: hsl(0, 0%, 100%); /* white */

  --color-accent: hsl(190, 96%, 88%); /* light cyan */

  --color-border: hsl(10, 79%, 83%); /* light salmon */

  --color-success: hsl(167, 100%, 33%); /* green */
  --color-warning: hsl(14, 77%, 83%); /* orange */
  --color-danger: hsl(4, 90%, 58%); /* red */

  /* Fonts */
  --font-sans: "PP Neue Montreal", sans-serif;
  --font-primary: "PP Neue Montreal Book", serif;
  --font-secondary: "Satoshi Medium", sans-serif;
  /* Text sizes */
  --base: 16px;
  --scale: 1.465;  
  
  --text-base-sm:  calc(var(--base) * 0.8) + "px";
  --text-h6: var(--base);

  --text-h5: calc(var(--text-h6) * var(--scale));
  --text-h4: calc(var(--text-h5) * var(--scale));
  --text-h3: calc(var(--text-h4) * var(--scale));
  --text-h3-sm: calc(var(--text-h3) * 0.9) + "rem";
  --text-h2: calc(var(--text-h3) * var(--scale));
  --text-h2-sm: calc(var(--text-h2) * 0.9) + "rem";
  --text-h1: calc(var(--text-h2) * var(--scale));
  --text-h1-sm: calc(var(--text-h1) * 0.9) + "rem";

}
