@theme static {
  --color-background: hsl(0, 0%, 100%); /* white */
  --color-foreground: hsl(0, 0%, 0%); /* black */

  --color-light: hsl(228, 25%, 92%); /* light blue-gray */
  --color-dark: hsl(217, 33%, 17%); /* dark blue-gray */

  --color-primary: hsl(225, 72%, 24%); /* deep blue */
  --color-secondary: hsl(0, 0%, 100%); /* white */

  --color-pink: #edd9f2;
  --color-green: #bbe6ac;
  --color-cyan: #c5f0fd;
  --color-accent: hsl(190, 96%, 88%); /* light cyan */

  --color-border: hsl(10, 79%, 83%); /* light salmon */

  --color-success: hsl(167, 100%, 33%); /* green */
  --color-warning: hsl(14, 77%, 83%); /* orange */
  --color-danger: hsl(4, 90%, 58%); /* red */

  /* Fonts */
  --font-sans: "Neue Montreal", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;

  /* Base font size */
  --base: 16;
  --scale: 1.465; /* Scaling factor */

  /* Typography */
  --font-base: var(--base);
  --font-scale: var(--scale);
  --h6: 1; /* Smallest heading */
  --h5: calc(var(--h6) * var(--font-scale));
  --h4: calc(var(--h5) * var(--font-scale));
  --h3: calc(var(--h4) * var(--font-scale));
  --h2: calc(var(--h3) * var(--font-scale));
  --h1: calc(var(--h2) * var(--font-scale));

  /* Font sizes */
  --text-base: calc(var(--font-base) * 1px);
  --text-base-sm: calc(var(--base) * 0.8px);
  --text-h1: calc(var(--h1) * 1rem);
  --text-h1-sm: calc(var(--h1) * 0.8rem);
  --text-h2: calc(var(--h2) * 1rem);
  --text-h2-sm: calc(var(--h2) * 0.8rem);
  --text-h3: calc(var(--h3) * 1rem);
  --text-h3-sm: calc(var(--h3) * 0.8rem);
  --text-h4: calc(var(--h4) * 1rem);
  --text-h5: calc(var(--h5) * 1rem);
  --text-h6: calc(var(--h6) * 1rem);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-rotate1: rotate1 10s linear infinite;
  --animate-marquee: marquee 10s linear infinite;
  --animate-marquee-vertical: marquee-vertical 10s linear infinite;

  @keyframes rotate1 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(1turn);
    }
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}
