---
import ContactForm from "@/components/ContactForm.astro";
import FAQ from "@/components/FAQ.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <section class="section">
    <div class="container">
      <div class="flex items-end justify-between">
        <h1 class="split-lines font-medium">Contact</h1>
        <div class="text-primary max-w-xs text-xl">
          <p class="split-lines">Interested in working with me?</p>
          <p class="split-lines">
            Submit your project inquiry using the form below
          </p>
        </div>
      </div>
      <ContactForm />
    </div>
  </section>

  <FAQ />
</Layout>
