---
import FaqAccordion from "@/helpers/FaqAccordion";
import type { MarkdownInstance } from "astro";
import type { Faq } from "faq-types";

const { title, questions } = Object.values(
  import.meta.glob<MarkdownInstance<Faq>>("/src/content/sections/faq.md", {
    eager: true,
  })
)[0].frontmatter;
---

<section class="section pt-0">
  <div class="container">
    <div class="space-y-8 xl:grid xl:grid-cols-2 xl:space-y-0">
      <div>
        <div class="max-w-xs">
          <h2 class="font-satoshi split-lines text-6xl leading-18 font-medium">
            {title}
          </h2>
        </div>
      </div>
      <div>
        <FaqAccordion client:load faqItems={questions} />
      </div>
    </div>
  </div>
</section>
