---
import Button from "@/components/ui/Button.astro";
import { ArrowRight } from "lucide-astro";
---

<footer>
  <div class="container-fluid">
    <div class="bg-light/75 rounded-4xl py-32 text-center">
      <h1 class="text-primary mb-10 text-6xl font-medium">
        Have a project in mind?
      </h1>
      <Button
        size={"lg"}
        variant="warning"
        class="group items-center justify-center space-x-0 normal-case transition-all duration-300 hover:space-x-2"
      >
        <span> Contact me </span>
        <span
          class="text-primary group-hover:border-background flex size-10 items-center justify-center rounded-full transition-all duration-300 group-hover:border"
        >
          <ArrowRight class="size-4 flex-shrink-0" />
        </span>
      </Button>

      <div class="grid grid-cols-3 gap-10 px-12 pt-32">
        <div class="col-span-1">
          <h2 class="text-primary text-left text-2xl font-medium">
            <span class="text-base"> Credits </span>
          </h2>
        </div>
        <div class="col-span-1">
          <h2 class="text-primary text-2xl font-medium">
            <span class="text-base">
              Reach out for collaboration or say hi at <br />
              <a href="mailto:hello@josephroque.com">hello@josephroque.com</a>
            </span>
          </h2>
        </div>
        <div class="col-span-1">
          <h2 class="text-primary text-right text-2xl font-medium">
            <span class="text-base">
              Follow me on
              <a href="https://x.com/josephroque">X</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</footer>
