--- 
import Button from "@/components/ui/button.astro";

---

<footer>
  <div class="container-fluid">
<h1>
  Have a project in mind?
</h1>
<Button>
  <span>
    Contact me
  </span>
</Button>


  </div>
</footer> 