---
import Button from "@/components/ui/Button.astro";
import { ArrowRight } from "lucide-astro";
import { cn } from "../lib/utils";
const pathname = Astro.url.pathname;
---

<footer>
  <div class="container-fluid">
    <div
      class={cn(
        "bg-light/75 rounded-t-[45px] py-32 text-center",
        pathname === "/contact" && "py-28"
      )}
    >
      <div class={cn(pathname === "/contact" && "hidden")}>
        <h1 class="text-primary split-lines mb-10 text-6xl font-medium">
          Have a project in mind?
        </h1>
        <Button
          variant="warning"
          class="group element-reveal font-satoshi cursor-pointer items-center justify-center space-x-0 px-6 pr-2.5 text-lg normal-case transition-all duration-300"
          href="/contact"
        >
          <span> Contact me </span>
          <span
            class="text-primary group-hover:border-background flex size-10 items-center justify-center rounded-full border border-transparent transition-all duration-200 ease-in-out group-hover:ml-2"
          >
            <ArrowRight class="size-5 flex-shrink-0" />
          </span>
        </Button>
      </div>

      <div
        class={cn(
          "grid grid-cols-3 gap-10 px-12 pt-32",
          pathname === "/contact" && "pt-0"
        )}
      >
        <div class="col-span-1 text-left">
          <button
            class="text-primary relative mr-auto cursor-pointer text-left text-base font-medium before:absolute before:bottom-0 before:left-0 before:h-0.5 before:w-full before:bg-[#f5c3b4] before:transition-[height] before:duration-200 before:ease-in-out hover:before:h-full"
          >
            <span class="split-lines relative z-50"> Credits </span>
          </button>
        </div>
        <div class="col-span-1">
          <h2 class="text-primary split-lines text-2xl font-medium">
            <span class="text-base">
              Reach out for collaboration or say hi at <br />
              <a href="mailto:hello@josephroque.com">hello@josephroque.com</a>
            </span>
          </h2>
        </div>
        <div class="col-span-1">
          <h2 class="text-primary text-right text-2xl font-medium">
            <span class="text-base">
              Follow me on
              <a href="https://x.com/josephroque">X</a>
            </span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</footer>
