---

---

<header class="py-10">
  <div class="container-fluid mx-auto px-4">
    <div
      class="flex items-center justify-between px-10 py-6 bg-light/75 rounded-full"
    >
      <a href="/" class="text-2xl font-bold"> Rekhchand </a>
      <nav>
        <ul class="flex items-center gap-5">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
