---
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import links from "@/config/menu.json";
import { cn } from "../lib/utils";
import { Icons } from "./Icons";
---

<header class="top-0 left-0 z-50 py-2.5">
  <div class="container-fluid">
    <div
      class="bg-light/75 flex items-center justify-between rounded-full px-7 py-3"
    >
      <a href="/" class={cn("text-primary nav-link relative")}>
        Rekhchand
        <Icons.Wave
          className="absolute top-1/2 left-1/2 z-10 hidden h-auto w-[126%] -translate-x-1/2 -translate-y-1/2"
        />
      </a>
      <nav>
        <ul class="flex items-center">
          <li>
            <ThemeSwitcher />
          </li>
          {
            links.map((link) => (
              <li class="ml-10">
                <a
                  href={link.href}
                  class={cn("text-primary nav-link relative")}
                >
                  {link.label}
                  <Icons.Wave className="absolute top-1/2 left-1/2 z-10 h-auto w-[126%] hidden  -translate-x-1/2 -translate-y-1/2" />
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
