---
import NavLink from "@/components/NavLink.astro";
import links from "@/config/menu.json";
---

<header class="py-2.5">
  <div class="container-fluid">
    <div
      class="flex items-center justify-between px-7 py-5 bg-light/75 rounded-full"
    >
      <NavLink href="/"> Rekhchand </NavLink>
      <nav>
        <ul class="flex items-center space-x-11">
          {
            links.map((link) => (
              <li>
                <NavLink href={link.href}>{link.label}</NavLink>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
