---
import NavLink from "@/components/NavLink.astro";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
import links from "@/config/menu.json";
---

<header class="py-2.5">
  <div class="container-fluid">
    <div
      class="bg-light/75 flex items-center justify-between rounded-full px-7 py-3"
    >
      <NavLink href="/"> Rekhchand </NavLink>
      <nav>
        <ul class="flex items-center">
          <li>
            <ThemeSwitcher />
          </li>
          {
            links.map((link) => (
              <li class="ml-10">
                <NavLink href={link.href}>{link.label}</NavLink>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
  </div>
</header>
