---
import { Icons } from "./Icons";
import SocialLinks from "./ui/SocialLinks.astro";
---

<section class="section relative pt-8 lg:pt-10">
  <div class="container">
    <div class="hero-squiggle mx-4 flex flex-col items-center text-center">
      <h1 class="text-heading">
        <div>UX/UI designer,</div>
        <div>
          <span class="relative inline-block h-full">
            Creative
            <Icons.Wave
              width={436}
              height={159}
              strokeWidth={4}
              vectorEffect={"non-scaling-stroke"}
              d={"M259.153 13.0611C182.786 2.44244 -4.4955 22.7946 3.2321 86.9486C10.9597 151.103 133.238 163.049 241.424 152.873C349.611 142.696 428.706 97.1251 432.796 58.1899C436.887 19.2547 378.703 2 314.61 2C250.516 2 185.058 8.63664 105.964 29.8739"}
              className="absolute top-[58%] left-1/2 z-10 h-auto w-[114%] -translate-x-1/2 -translate-y-1/2"
            />
          </span>
          developer
        </div>
      </h1>
      <p class="text-primary/70 my-3 text-center text-lg font-normal">
        Specialised in
      </p>
      <h2
        class="relative inline-block text-center text-2xl font-medium lg:text-4xl"
      >
        Websites & Webapps
        <Icons.Line
          className="absolute top-full left-1/2 w-full -translate-x-1/2 -translate-y-1/2"
        />
      </h2>
      <SocialLinks />
    </div>
  </div>
</section>
