---
import { ArrowRight } from "lucide-astro";
import Button from "./ui/Button.astro";
---

<section class="section">
  <div class="container">
    <div
      class="bg-accent flex size-[160px] -rotate-45 items-center justify-center rounded-full"
    >
      <p>What I offer</p>
    </div>
    <div class="mt-12 grid gap-[150px] lg:grid-cols-2">
      <div>
        <h2
          class="font-satoshi text-6xl leading-[1.05] font-medium tracking-wide"
        >
          Delivering modern, cohesive & intuitive web solutions.
        </h2>
        <p class="mt-9 text-xl">
          I enjoy designing meaningful experiences for brands & businesses to
          help them serve their target users.
        </p>

        <Button
          variant="warning"
          class="group font-satoshi mt-11 items-center justify-center space-x-0 px-6 text-lg normal-case transition-all duration-300"
        >
          <span>About me</span>
          <span
            class="text-primary group-hover:border-background flex size-10 items-center justify-center rounded-full border border-transparent transition-all duration-200 ease-in-out group-hover:ml-2"
          >
            <ArrowRight class="size-5 flex-shrink-0" />
          </span>
        </Button>
      </div>
      <div></div>
    </div>
  </div>
</section>
