---
import { Icons } from "@/components/Icons";
import { cn } from "@/lib/utils";

interface Props {
  href: string;
}

const { href } = Astro.props as Props;
const isActive = Astro.url.pathname === href;
console.log({ isActive });
---

<a href={href} class={cn("text-primary", isActive && "relative")}>
  <slot />
  {
    isActive && (
      <Icons.Wave className="absolute w-[126%] h-auto top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10" />
    )
  }
</a>
