---

---

<div class="page-transition">
  <div class="circle bg-accent -top-[15%] -left-[15%] size-[80vw]"></div>
  <div class="circle bg-green -top-[28%] left-[45%]"></div>
  <div class="circle bg-pink top-[52%] left-[33%] size-[52vw]"></div>
  <div class="circle bg-warning top-[60%] left-[75%] size-[36vw]"></div>
</div>

<script>
  import gsap from "gsap";

  function afterPageLoad() {
    const pageTransition = document.querySelector(".page-transition");
    const circles = document.querySelectorAll(".circle");

    const tl = gsap.timeline();

    tl.to(circles, {
      scale: 0.5,
      opacity: 0,
    }).to(pageTransition, {
      opacity: 0,
      visibility: "hidden",
    });
  }

  afterPageLoad();

  function onRouteChange() {
    const pageTransition = document.querySelector(".page-transition");
    const circles = document.querySelectorAll(".circle");
    const tl = gsap.timeline();
    tl.to(pageTransition, {
      visibility: "visible",
      opacity: 1,
      duration: 0.1,
      ease: "power1.in",
    }).to(circles, {
      opacity: 1,
      scale: 1,
      duration: 0.8,
      stagger: 0.1,
      ease: "power3.in",
    });
  }

  document.addEventListener("astro:before-preparation", onRouteChange);

  // document.addEventListener("astro:after-preparation", afterPageLoad);

  document.addEventListener("astro:after-swap", afterPageLoad);
</script>
