---

---

<div class="page-transition invisible opacity-0">
  <!-- circle-1 -->
  <div
    class="circle bg-accent -top-[12%] -left-[35%] size-[100vh] sm:-top-[18%] sm:-left-[18%] sm:size-[100vh] md:-top-[15%] md:-left-[15%] md:size-[110vh] lg:-top-[15%] lg:-left-[15%] lg:size-[92vw] xl:size-[80vw]"
  >
  </div>
  <!-- circle-2 -->
  <div
    class="circle bg-green -top-[20%] left-[25%] size-[75vh] sm:-top-[20%] sm:left-[40%] md:-top-[20%] md:left-1/2 md:size-[85vh] lg:-top-[24%] lg:size-[72vw] xl:-top-[28%] xl:left-[45%] xl:size-[64vw]"
  >
  </div>
  <!-- circle-3 -->
  <div
    class="circle md: bg-pink top-[47%] -left-[5%] size-[60vh] sm:top-[47%] sm:-left-[5%] md:top-1/2 md:left-[2%] md:size-[75vh] lg:top-[52%] lg:left-[33%] lg:size-[52vw]"
  >
  </div>
  <!-- circle-4 -->
  <div
    class="circle bg-warning top-1/2 left-[40%] size-[50vh] sm:top-[57%] sm:left-[60%] md:top-1/2 md:left-[60%] md:size-[60vh] lg:top-[60%] lg:left-[75%] lg:size-[36vw]"
  >
  </div>
</div>
