---
import { getCollection } from "astro:content";
import ProjectCard from "./ui/ProjectCard.astro";
const projects = await getCollection("projects");
---

<section class="section">
  <div class="container-fluid">
    <div class="grid grid-cols-2 gap-4">
      {
        projects.map((project) => {
          return (
            <div class="element-reveal col-span-1">
              <ProjectCard project={project} />
            </div>
          );
        })
      }
    </div>
  </div>
</section>
