---
import { Image } from "astro:assets";
---

<button class="rounded-full bg-background size-10 flex items-center justify-center border border-[#11296933] text-sm font-bold">
  <Image src="/images/theme.svg" alt="theme switcher" width={24} height={24} />
  <span class="sr-only">theme switcher</span>
</button>
