---
import { Image } from "astro:assets";
---

<button class="text-sm font-bold">
  <Image src="/images/theme.svg" alt="theme switcher" width={24} height={24} />
  <span class="sr-only">theme switcher</span>
</button>
