---
import { cn } from "@/lib/utils";
import { cva, type VariantProps } from "class-variance-authority";

const badgeVariants = cva(
  "rounded-full flex relative items-center justify-center",
  {
    variants: {
      variant: {
        primary: "bg-primary",
        secondary: "bg-secondary",
        light: "bg-light",
        success: "bg-success",
        warning: "bg-warning",
        danger: "bg-error",
        accent: "bg-accent",
        pink: "bg-pink",
        green: "bg-green ",
      },

      rotate: {
        true: "-rotate-[30deg]",
      },
      size: {
        sm: "size-[120px]",
        md: "size-[160px]",
        lg: "size-[200px]",
      },
    },
    defaultVariants: {
      variant: "primary",
    },
  }
);

interface Props extends VariantProps<typeof badgeVariants> {
  class?: string;
}

const {
  variant = "primary",
  size = "md",
  class: className,
  rotate,
} = Astro.props;
---

<div class={cn(badgeVariants({ variant, size, rotate }), className)}>
  <slot />
</div>
