---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
interface Props {
  project: CollectionEntry<"projects">;
}
const { title, description, image, imageAlt } = Astro.props.project["data"];
---

<div>
  <div class="thumb item-img-wrap overflow-hidden rounded-3xl before:pt-[67%]">
    <div class="item-img">
      <Image width={2000} height={1440} src={image} alt={imageAlt} />
    </div>
  </div>

  <div class="mt-6 space-y-2">
    <h2 class="font-satoshi text-h4">{title}</h2>
    <p>{description}</p>
  </div>
</div>
